@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --foreground: 255, 255%, 255%;
  --background: 0, 0%, 0%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}